.scrollable-table {
  overflow: scroll;
  flex-grow: 1;
}

table {
  border-collapse: collapse;
}

/* Row Headers */
thead tr > th {
  background: #102a43;
  color: white;
  position: sticky;
  padding: 0.5rem;
  z-index: 2;
  top: 0;
}

/* Category column */
thead tr > :nth-child(-n + 3) {
  z-index: 3;
  top: 0;
}

/* Category column */
thead tr > :nth-child(1) {
  left: 0;
  min-width: 200px;
  max-width: 200px;
}

/* Total column */
thead tr > :nth-child(2) {
  left: 200px;
  width: 100px;
}

/* Average column */
thead tr > :nth-child(3) {
  left: 300px;
  width: 100px;
}

td.ctavg {
  background: #fdfdfd;
}

td.cname {
  background: #fdfdfd;
}

td.cgroup {
  background: #f7fafc;
  font-weight: bold;
}

td.cgroup-zero {
  background: #f7fafc;
  font-weight: bold;
  color: #e8ecf0;
}

/* Category column of every row */
tbody tr > :nth-child(-n + 3) {
  position: sticky;
  z-index: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
tbody tr > :nth-child(1) {
  left: 0;
  min-width: 200px;
  max-width: 200px;
  text-align: left;
  padding-left: 10px;
}
tbody tr > :nth-child(2) {
  left: 200px;
  width: 100px;
  text-align: right;
}
tbody tr > :nth-child(3) {
  left: 300px;
  width: 100px;
  text-align: right;
}

td {
  min-width: 100px;
  text-align: right;
  padding: 5px;
}

td.zero {
  color: #e8ecf0;
}

col:nth-child(even) {
  background: #fdfdfd;
}

col:nth-child(odd) {
  background: white;
}
